.Professional > section > video {
  height: 100%;
  width: 800px;

}
.Professional{
  margin-top: 50px;
}

#join-pro {
  object-fit: contain;
  object-position: center;
}


.tag-prof {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

@media (max-width: 820px) {
  .pm {
    background-position: top;
  }
}

@media (max-width: 700px) {
  .tag-prof {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .pm {
    height: 250px;
    background-position: top;
  }
  .Professional > img {
    height: 600px;
  }
}

@media screen and (max-width: 350px) {
  .price-tag > div {
    width: 260px;
  }
  .price-tag > div > :hover {
    scale: 1;
  }
}
